@tailwind base;
@tailwind components;
@tailwind utilities;



.VIpgJd-suEOdc
{
    display: none !important;
    background: none !important;

}


/* .VIpgJd-suEOdc:hover
{
    display: none !important;
    background: none !important;

} */